
/*SECCION HEADER CABECERA*/
#menu-btn-volver{
  display: flex;
  flex-direction: row-reverse;
}

/*SECCION FORMULARIO*/
#menu{   
  height: 60px;
  margin-top: 1%;
  margin-bottom: 1%;
  display: flex;
  flex-direction: row;
  /* outline: 2px solid #2f00ff; */
}

/* seccion buscar*/
.seccion-buscar{
  width:20%;
  padding: 0.5%;
  /* outline: 1px solid  red; */
}
.buscar{ /* CAMPO BUSCAR */
  background: transparent;
  color: black;
  margin-top: 5.8%;
  padding: 1%;

  border: 1px solid #87f583;
  border-radius: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  height: 30px;
}
.buscar:hover { /*efecto orillas disfumadas al pasar el mouse en caja buscar*/
  cursor: pointer;
  height: 45px;
  box-shadow: 0px 0px 20px #00ffd5, 0px 0px 30px #2BF14B;
}

/*TODAS LAS SECCIONES CON ETIQUETA*/


/*ESTILO A TODAS LAS SECCIONES DEL FORMULARIO */
.filtroUno{
  width:10%;
  padding: 0.4%;
  margin: 0%;
  /* display: block; */
  /* outline: 1px solid  red; */
}
.texto{
  font-size: 90%;
}
.etiqueta{
  width:100%;
  padding: 2%;
  padding-bottom: 2%;
  margin: 0%;
  text-align: center;
  /* padding: 0.5%; */
  /* display: block; */
  /* outline: 1px solid  violet; */
}
.dos{
  width:100%;
  height: 40%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin: 3%;
  font-size: 70%;
  text-align: center;
  border: 1px solid #87f583;
  border-radius: 20px;
   /* outline: 1px solid  violet; */
}






/* seccion filtrar-sexo*/
/* .seccion-filtrar-sexo{
  width:10%;
  padding: 0.4%;
  margin: 0%;
  /* display: block; */
  /*outline: 1px solid  red;
} */
/* .seccion-filtrar-sexo>.genero{
  width:100%;
  padding: 2%;
  padding-bottom: 2%;
  margin: 0%;
  text-align: center;
  /* padding: 0.5%; */
  /* display: block; */
 /* outline: 1px solid  violet;
} */
/* .seccion-filtrar-sexo>.filtrarSexo{
  width:100%;
  height: 40%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin: 3%;
  font-size: 70%;
  text-align: center;
  border: 1px solid #87f583;
  border-radius: 20px;
   outline: 1px solid  violet;
} */
/* .name.filtrar{
  width:100%;
  height: 40%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin: 3%;
  font-size: 70%;
  text-align: center;
  border: 1px solid #87f583;
  border-radius: 20px;
   outline: 1px solid  violet;
} */







/* ------------------------------------------------------------------------------ */
/*SECCION MAIN*/

main{
  margin-top: 2%;
}
.cards-container {
  width: 100%;
  height: 100%;
  margin: auto;
  /* display: flex; */
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  /* align-content: normal; */
  /* align-items: center; */
  /* align-self: stretch; */
  justify-content: space-between;
  font-size:medium;
  outline: 2px solid turquoise;
}

.card-info {
  padding: 2px;
  text-align: left;
  /* font-size: 14px; */
  word-wrap: break-word;
  outline: 2px solid orangered;
}

.box{
  outline: 2px solid red;
}
