/* DISEÑO MOBILE FIRST GALAXY A51/71 */
body{
padding: 0px;
  /* outline: 2px solid violet; */


}
/* HEADER*/
/* SECCION PORTADA IMAGEN Y LOGO CABECERA*/
#contenedor-portada{
  background:url(Imagenes/generales/cabecera1.png) ;
  background-repeat: no-repeat;
  background-size: 230%;
  width: 100%;
  height: 63px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  /* outline: 2px solid blue; */
}
.logo-cabecera-dos {
  padding: 2.5px;
  width: 10%;
  max-width: 80px;
  /* outline: 2px solid red; */
}
/*------------------------------------------------------------*/

/* SECCION BOTON VOLVER   CASITA */
#menu-btn-volver {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: flex-end;
  /* outline: 2px solid yellow; */
  flex-wrap: wrap;
  flex-direction: row;
}
.btn-inicial{
  width: 6%;
  height: 99%;
  display: flex;
  /* outline: 2px solid red; */
  padding: 0px;
  border: 0px;
} 

#volver{
  width: 100%; /*tamaño de la casita*/
  max-width: 34px ; /* **************************************************************** */
  height: 99%;
  display: flex;
  align-items: center;
}

#volver:hover{
  cursor: pointer;
  transition: 5.40 ease all; 
  box-shadow: 0px 0px 20px #00ffd5, 0px 0px 0.5px #2BF14B;
  background: rgb(226, 169, 148);
}



/*------------------------------------------------------------*/


/*SECCION MENU ID=MENU -> area de seleccion de filtrdos*/
#menu {
  width: 99%;
  height:70px; /*70px;*/
  margin: 0.5%;
  /* margin-bottom: 1%; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  /* justify-content: space-around; */
  /* outline: 2px solid green; */
}
/*------------------------------------*/
/* seccion buscar*/
.seccion-buscar{
  width:100%;
  padding: 0.5%;
  /* outline: 1px solid  red; */
}
.buscar{ /* CAMPO BUSCAR */
  width: 100%;
  height: 20px;
  padding: 1%;
  background: transparent;
  /* color: #87f583; */
  border: 1px solid #87f583;
  border-radius: 20px;
  /* display: flex; */
  /* justify-content: flex-start; */
 
}

/*------------------------------------*/

.filtroUno{
  width:15%;
  padding: 0.4%;
  margin: 0%;
  /* display: block; */
  /* outline: 1px solid  red; */
}
.texto{ /*Afecta solamente al texto de la etiqueta P de Genero/Disciplina/Especialidad/Medalla/Pais/Ordenar*/
  font-size: 75%;
}
.etiqueta{
  width:100%;
  padding: 2%;
  padding-bottom: 2%;
  margin: 0%;
  text-align: center;
  /* padding: 0.5%; */
  /* display: block; */
  /* outline: 1px solid  black; */
}
.dos{
  width:100%;
  height: 40%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin: 2%;
  font-size: 58%;
  text-align: center;
  border: 1px solid #87f583;
  border-radius: 20px;
   /* outline: 1px solid  yellow; */
}
.seccion-filtrar-disciplina{
  width: 18%;
}

.seccion-filtrar-especialidad{
  width:20%;
}

.seccion-ordenar-nombres{
  width: 12%;
}
option{
  font-size: 90%;
}

/*------------------------------------------------------------*/

/* SECCION MOSTRAR RESULTADO DE PORCENYAJES DE LA SELECCION DESPLEGADA*/

.porcentaje {
  width: 99%;
  height: 20px;
  margin: 0.5%;
  /* outline: 2px solid cornflowerblue; */
  text-align: center;
  font-size: 75%;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}


/*------------------------------------------------------------*/
/* MAIN*/
/* SECCION PORTADA IMAGEN Y LOGO CABECERA*/

main{
  margin-top: 2%;
  margin-left: 0%;
  margin-right: 0%;

  /* outline:2px solid blue; */
  width: 99%;/*100%;*/

}

.cards-container {
  width: 100%;/*100%;*/
  height: 100%;
  margin: 0.5px;
  display: flex;
  flex-direction: row; /* el flex direction le dice la dirección de las cajas , en este caso en fila*/
  flex-wrap: wrap; /* es para adecuarse al tamaño de lla pantalla*/

  align-content: center;
  justify-content: center;

  /* outline: 2px solid turquoise; */
}

.caja{
  margin: 1%;
  width: 29%;
  max-width: 150px;
  height: 200px; /*25%;*/
  /* outline: 2px solid green; */

 }
 .caja:hover figure{ /*se pone el nombre del div + figure para que al seleccionar el primero, tome recien el segundo*/
  transform:perspective(600px) rotateY(180deg);
  box-shadow: 0px 2px 10px 2px;
  /* outline: 2px solid red; */

}

figure{
  width: 100%;
  height:100%;
  margin: 0;
  position: relative;
  border-radius: 26PX; /*50px;*/
  transition: all ease .5s;
  transform-style: preserve-3d; /*al ser 3d, los hijos igual tendran esta propiedad*/
  transform: perspective(600px) rotateY(0deg); /*le da una perspectiva a la imagen, además de rotarla en el eje Y*/
  box-shadow: 0px 2px 10px 2px;
  /* outline: 2px solid blue; */
  display: flex;

}
figure .nombre{
  width: 96%;
  height: 119px;
  display: flex;
  position: absolute;
  top: 41%;
  left: 49%;
  transform: translate(-50%, -50%);
  font-size: 82%;
  text-align: center;
  color: rgba(7, 6, 6, 0.925);
  backface-visibility: hidden;
  /* outline: 2px solid red; */
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  align-content: center;
  }



  figure .frontal,
  figure .trasera{
    width: 100%;
    height: 100%;
   }
   figure .frontal{
    display: block;
    backface-visibility:hidden;
    top: 0;
    opacity: 0.2;
   }

   figure .trasera{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    padding: 0px;
    color: rgba(19, 17, 17, 0.925);
/* ****************** activar tarjeta delantera ********************** */
    /* transform: perspective(600px) rotateY(180deg);   */
    backface-visibility: hidden;
    overflow: auto;
    background-color: rgb( 232, 248, 245 );
    border-radius: 26PX; /*50px;*/

    /* outline: 2px solid green; */
}
  .infotarjetas {
    width: 93%;
    height: 160px;
    margin-top: 18%;
    margin-left: 4px;
    text-align: left;
    word-wrap: break-word;
    /* outline: 2px solid orangered; */
}




.tamaño-texto{ /* el titulo de la actividad de la data */
  font-size:11px;
  font-weight: bold;
}

.tamaño-parrafo{ /* la actividad que traemos de la data*/
  font-size:11px;
  margin: 2px;

}

.texto1{
  line-height: 7px; /*interlineado*/
  
  }

.texto2{
  /*line-height: 7px; /*interlineado*/
  line-height: 1.5px;
  word-wrap: break-word;


 /* outline: 2px solid blue; */


}

/* ======================================*/
/* ======================================*/
@media screen and (min-width:455px){
 
  #contenedor-portada{
    /* width: 100%; */
    height: 120px;
    /* outline: 2px solid blue; */
  }
  .logo-cabecera-dos {
    height: 100px;
    /* outline: 2px solid red; */
  }

/*------------------------------------------------------------*/

/* SECCION BOTON VOLVER   CASITA */
#menu-btn-volver {
  height: 30px;
}
.btn-inicial{
  width: 4%;
  height: 99%;
} 
/*------------------------------------------------------------*/



/*SECCION MENU ID=MENU -> area de seleccion de filtrdos*/
#menu {
  height:120px; /*70px;*/
  /* outline: 2px solid violet; */
}
/*------------------------------------*/
/* seccion buscar*/
.seccion-buscar{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-around;
  /* outline: 1px solid red; */

}
.buscar{ /* CAMPO BUSCAR */
  width: 60%;
}

/*------------------------------------*/

.texto{ /*Afecta solamente al texto de la etiqueta P de Genero/Disciplina/Especialidad/Medalla/Pais/Ordenar*/
  font-size: 100%;
}
.etiqueta{
  width:96%;
  height: 17px;
  /* outline: 1px solid  black; */
}
.dos{
  width:100%;
  height: 40%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin: 2% 0%;;
  font-size: 65%;
  text-align: center;
  border: 1px solid #87f583;
  border-radius: 20px;
   /* outline: 1px solid  yellow; */
}
.cambio1{
  width:96%;
  height: 17px;
  padding-top: 1.387%;
  padding-bottom: 1.597%;
}
.cambio2{
  width:96%;
  height: 17px;
  padding-top: 1.387%;
  padding-bottom: 0.7%;
}
.seccion-filtrar-genero,.seccion-filtrar-medalla,.seccion-filtrar-pais{ /*corresponde al espaciado de la seccion para que se vean bien desplegadas las categorias*/
  width: 12%;
}
.seccion-filtrar-disciplina{ /*corresponde al espaciado de la seccion para que se vean bien desplegadas las categorias*/
  width: 18%;
}

.seccion-filtrar-especialidad{ /*corresponde al espaciado de la seccion para que se vean bien desplegadas las categorias*/
  width: 26%;
}

option{ /* corresponde al tamaño de la letra dentro del option*/ 
  font-size: 110%;
}


/*------------------------------------------------------------*/

/* SECCION MOSTRAR RESULTADO DE PORCENYAJES DE LA SELECCION DESPLEGADA*/

.porcentaje {
  width: 99%;
  height: 45px;
  margin: 0.5%;
  /* outline: 2px solid cornflowerblue; */
  text-align: center;
  font-size: 20px;
  color: #FD2D1C; /* color scarlata*/
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
}


/*------------------------------------------------------------*/
/* MAIN*/

.caja{
  height: 250px; /*25%;*/
  /* outline: 2px solid red; */
 }

figure .nombre{
  font-size: 120%;
  justify-content: center;
  /* outline: 2px solid red; */
  }

.infotarjetas {
  height: 200px;
  /* outline: 2px solid orangered; */
}

.tamaño-texto{ /* el titulo de la actividad de la data */
  font-size:14px;
}

.tamaño-parrafo{ /* la actividad que traemos de la data*/
   font-size:12px;
}

}

/* ======================================*/
/* ======================================*/
@media screen and (min-width:1290px){ 
/*SECCION MENU ID=MENU -> area de seleccion de filtrdos*/
#menu {
  height:140px; 
  /* outline: 2px solid green; */
}

.caja{
  height: 300px;
  /* outline: 2px solid green; */
 }

.infotarjetas {
  height: 250px;
  /* outline: 2px solid orangered; */
}

.tamaño-texto{ /* el titulo de la actividad de la data */
  font-size:16px;
}

.tamaño-parrafo{ /* la actividad que traemos de la data*/
  font-size:14px;
}

}