
 /*  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*.imagen{
  background-image:url(./imagenes/generales/banderas.png)
  opacity: 0.3;
  position: absolute;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
} */
body {
 /* background: url(./banderas.png);*/
  /*background-image:url(./imagenes/generales/banderas4.png);*/
  background-color: transparent;
  /*opacity: 0.3;*/
  position: absolute;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
 /*filter: grayscale(75%);*/
 }
#menu{
  padding: 5%;
  /* display: flex; */
  outline: 1px solid  turquoise;
}

.imagenes {
  margin-top: 20px;    /* margen superior */
  margin-left: 50px;
  margin-bottom: 10%;  /* margen inferior */
  outline: 6px solid violet;
  display: flex;
  margin-top: 20px;
}
.slider{
  width: 300px;
  height: 300px;
  border-radius: 3%; /*el borde redondeado,se ve con outline*/
  overflow: hidden; /*que esconda el lo que se ve si se desborda*/
  outline: 6px solid red;
}
.slides input{
  display: none;
}
.slides{
  width: 200%; /*el % del tamaño de ña pantalla*/
  height: 200px;
  display: flex;
  outline: 6px solid green;
}
.slide{
  width: 20%; /*porcentaje que ocupara la imagen en el slider*/
  transition: 1s;
}
.slide img{
  width: 300px;/*100px; /*ori 800 */
  height: 200px;/*150px; /*ori 450 */
  margin-bottom: 20px;
}

.navigation-manual{
  position: absolute;
  width: 20%;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}
.manual-btn{
  border: 2px solid green; /*color del borde de los puntitos*/
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.manual-btn:not(:last-child){ /* determina es espaciado entre los puntitos del slider*/
  margin-right: 15px;/*10px;/*ori 30px;*/ 
}
.manual-btn:hover{ /*hover=relleno de los puntitos*/
  background: green;
}

/*esta seccion me permite dar movimiento a las imagenes*/
#radio1:checked ~ .first{ /*checked=asigna el tamaño de los puntitos, funciona con los checkbox, option, checked, radio*/
  margin-left: 0; /*ubicacion de las imagenes de la clase first*/
  outline: 6px  solid yellow;
}

#radio2:checked ~ .first{
  margin-left: -20%;
  outline: 6px  solid yellow;
}

#radio3:checked ~ .first{
  margin-left: -40%;
  outline: 6px  solid yellow;
}

#radio4:checked ~ .first{
  margin-left: -60%;
  outline: 6px  solid yellow;
}

#radio5:checked ~ .first{
    margin-left: -80%;
    outline: 6px  solid yellow;
}

#radio6:checked ~ .first{
 margin-left: -100%;
 outline: 6px  solid yellow;
}
/*Pantalla de 670-1600 800-1280*/
@media screen and (min-width: 670px) and (max-width: 1600px) {
  /* .man-header{
    display:flex;
    height: 180px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
  } */

  .imagenes{
    display: block;
    margin-top: 20px;
  }

  .slider {
    /* tamaño del slider espacio donde se muestran las imagenes*/
    margin: auto;
    width:  300px; /*200px; /*ori 700 */
    height: 250px;/*200px; /*ori 450 */
    border-radius: 3%;
    overflow: hidden;
  }

  .slides {
    /* ubicacion de lospuntos del slider(color verde) */
    width: 500%;/*ori 500%;*/
    height: 270px;/*600px; /*ori 500 *//*altura de la posicion*/
    display: flex;
    position: relative;
  }

  .slide img{
    /* tamaño de la imagenes del slide */
    width: 300px;/*200px; /*ori 800 */
    height: 200px;/*150px; /*ori 450 */

  }
  
  .navigation-manual{
    width: 500%;/*17%; /*ori 80 *//*17%;*/ /*ancho de la barra de puntitos dentro del slider */
    margin-top:-50px;/* margen superior *//* -420px; /*ori -90 */ /* altura donde va ubicado la barra de los puntitos*/
    display: flex;
    justify-content: flex-start; /*flexible al inicio /*left; /*center;*/
    outline: 2px solid red
  }
}

/*Pantalla 200-670*/
@media screen and (min-width: 200px) and (max-width: 669px) {
  /* .title-home {
    font-size: 6vw;
    margin: 2%;
    color: white;
    font-family: Verdana;
  } */

  .imagenes{
    display: block;
    margin-top: 20px;
  }

  .slider {
    margin: auto;
    width: 150px;
    height: 100px;
    border-radius: 3%;
    overflow: hidden;
  }

  .slides {
    height: auto;
    display: flex;
    position: relative;
  }

  .slide img{
    width: 150px;
    height: 70px;
  }

  .navigation-manual{
    width: 20%;
    margin-top: -20px;
    margin-left: 25px;
    display: flex;
    justify-content: center;
    outline: 2px solid red
  }
  .manual-btn:not(:last-child){ /* determina es espaciado entre los puntitos del slider*/
    margin-right: auto;/*10px;/*ori 30px;*/ 
    position: relative;
  }
  .info-text {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    width: auto;
    position: relative;

  
  } 
}